* {
    font-family: sans-serif;
}

#head {
    width: 100%;
    height: 100px;
    background-image: url("https://img.freepik.com/free-photo/flat-lay-composition-cinema-elements_23-2148191740.jpg?size=626&ext=jpg&ga=GA1.2.129740756.1659598409");
    background-size: cover;
}

#Mname {
    width: 35%;
    height: 42px;
    margin-left: 35%;
    margin-top: 2%;
    border-radius: 5px;
    border: 3px solid rgb(68, 3, 3);

}

#search {
    width: 10%;
    height: 50px;
    background-color: rgb(68, 3, 3);
    color: rgb(231, 219, 219);
    font-size: 100%;
    border-radius: 5px;
    border: 1px solid white;
    padding-bottom: .6%;
    padding-top: .6%;

}

#container {
    display: flex;
    width: 100%;
    height: 600px;
    margin-top: 1%;
    background-image: url("https://img.freepik.com/free-photo/rows-red-seats-theater_53876-64710.jpg?size=626&ext=jpg&ga=GA1.2.129740756.1659598409");

    background-size: cover;
}

#div2 {

    color: rgb(241, 220, 220);
    width: 30%;
    height: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-size: cover;
    text-align: center;
    justify-content: justify;
}


#div1 {

    margin-left: 30%;

}

#p2 {
    padding: 1%;
    padding-top: 5%;
}

#p3 {
    padding: 1.5%;
    background-color: rgb(48, 44, 40);
    width: 50%;
    margin-top: 30%;
    margin-left: 15%;

}

#Mname {
    padding-left: 2%;
    color: rgb(12, 6, 49);
    font-size: 120%;
    font-weight: 500;
}

#search:hover {
    background-color: #921e2d;
}

#Mname:hover {
    background-color: #f1eaeb;
}

#img1 {
    height: 600px;
}

#div5 {
   
    background-size: cover;
    width: 30%;
    margin-left: 40%;

}

#p6 {
    width: 100%;
    height: 400px;
    margin: 50px;

}

#pic {


    height: 600px;
    width: 70%;

}

#tit {
    color: rgb(138, 9, 9);
    margin-left: 2%;
    font-size: 250%;
    font-weight: 900;
    text-decoration: line-through;
}

#back {
    margin-left: 95%;
}